header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr .7fr;
    grid-template-areas: "logo bar ."
                         ". nav .";
    padding-top: 10px;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#logo {
    grid-area: logo;
    width: 70%;
}

#search-bar {
    grid-area: bar;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    outline: none;
    height: 44px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

#nav-list {
    grid-area: nav;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
}

#all {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#news {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#maps {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#videos {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#shopping {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#more {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#settings {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

#tools {
    display: inline;;
    font-family: arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    grid-template-areas: ". results-number ."
                         ". search-result-1 ."
                         ". people-also-ask ."
                         ". search-result-2 ."
                         ". search-result-3 ."
                         ". related-search ."
                         ". searches-related-to ."
                         ". logo-page-number .";
}

#results-number {
    grid-area: results-number;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#search-result-1 {
    grid-area: search-result-1;
}

#search-result-1 > H2 > a {
    text-decoration: none;
    color: blue;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

#search-result-1 > H2 > a:hover {
    text-decoration: underline;
}

#search-result-1 > H3 {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: green;
}

#search-result-1 > p {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#search-result-2 {
    grid-area: search-result-1;
}

#search-result-2 > H2 > a {
    text-decoration: none;
    color: blue;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

#search-result-2 > H2 > a:hover {
    text-decoration: underline;
}

#labels > p > a {
    text-decoration: none;
    color: blue;
    font-family: arial, sans-serif;
    font-weight: normal;
}

#labels > p > a:hover {
    text-decoration: underline;
}

#searches-related-to > ul > li > a {
    text-decoration: none;
    color: blue;
    font-family: arial, sans-serif;
    font-weight: normal;
}

#bottom-menu > ul > li > a {
    text-decoration: none;
    color: black;
    font-family: arial, sans-serif;
    font-weight: normal;
}

#bottom-menu > ul > li > a:hover {
    text-decoration: underline;
}

#searches-related-to > ul > li > a:hover {
    text-decoration: underline;
}

#search-result-2 > H3 {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: green;
}

#search-result-2 > p {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#search-result-3 {
    grid-area: search-result-1;
}

#search-result-3 > H2 > a {
    text-decoration: none;
    color: blue;
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

#search-result-3 > H2 > a:hover {
    text-decoration: underline;
}

#search-result-3 > H3 {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: green;
}

#search-result-3 > p {
    font-family: arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

#people-also-ask {
    grid-area: people-also-ask;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

#search-result-2 {
    grid-area: search-result-2;
}

#search-result-3 {
    grid-area: search-result-3;
}

#related-search {
    grid-area: related-search;
    margin-top: 0px;
}

#searches-related-to {
    grid-area: searches-related-to;
}

#logo-page-numbers {
    grid-area: logo-page-number;
}

#ppa-content > H2 {
    font-family: arial, sans-serif;
    font-weight: normal;
    padding: 15px;
}

#first-ppa > H3 {
    font-family: arial, sans-serif;
    font-weight: normal;
    padding: 15px;
}

#second-ppa > H3 {
    font-family: arial, sans-serif;
    font-weight: normal;
    padding: 15px;
}

#third-ppa > H3 {
    font-family: arial, sans-serif;
    font-weight: normal;
    padding: 15px;
}

#first-ppa, #second-ppa, #third-ppa {
    border-top: 1px solid #e5e5e5;
}

#related-search {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

#related-search > p {
    font-family: arial, sans-serif;
    font-weight: normal;
    padding-left: 15px;
}

#related-search > H2 {
    font-family: arial, sans-serif;
    font-weight: normal;
    padding-left: 15px;
}

#icons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
}

#labels {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center; 
}

#labels > p {
    font-family: arial, sans-serif;
    font-weight: normal;
    white-space: nowrap;
}

#searches-related-to > H2 {
    font-family: arial, sans-serif;
    font-weight: normal;
    padding-left: 15px;
}

#searches-related-to > ul {
    list-style: none;
    margin: 0px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    white-space: nowrap;
    font-family: arial, sans-serif;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first second"
                         "third fourth";
    white-space: nowrap;
    gap: 10px;
    background-color: rgb(228, 228, 228);
    border-top: 1px solid rgb(128,128,120, .2);
    margin-top: 20px;
}

#location-stuff {
    grid-area: first;
    margin-top: 10px;
}

#location-stuff > H3 {
    display: inline;
    font-family: arial, sans-serif;
    border-right: solid 1px black;
    padding-right: 10px;
    padding-left: 30px;
}

#location-stuff > p {
    display: inline;
    font-family: arial, sans-serif;
    padding-left: 10px;
}

#bottom-menu {
    grid-area: third;
    padding-left: 30px;
}

#bottom-menu > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#help {
    display: inline;
    font-family: arial, sans-serif;
}

#feedback {
    display: inline;
    padding-left: 20px;
    font-family: arial, sans-serif;
}

#privacy {
    display: inline;
    padding-left: 20px;
    font-family: arial, sans-serif;
}

#terms {
    display: inline;
    padding-left: 20px;
    font-family: arial, sans-serif;
}